.carCard {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    max-width: 300px;
  }
  
  .carCard img {
    max-width: 100%;
  }
  
  .carCard h2 {
    margin-top: 0;
  }
  
  .carCard p {
    margin: 8px 0;
  }

  .link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
  }
  
  .link:hover {
    background-color: #0056b3;
  }

  /* .mainPage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
  } */

  
  
  
  
  
  

  
  