/* .carCard {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    max-width: 300px;
  }
  
  .carCard img {
    max-width: 100%;
  }
  
  .carCard h2 {
    margin-top: 0;
  }
  
  .carCard p {
    margin: 8px 0;
  }
   */