.carCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px 0;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  transition: 0.2s;
  height: 30%;
  box-sizing: border-box;
}

.carCard:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  /* Добавляем тень при наведении */
  transition: 0.2s;
  transform: translateY(-2px);
}

.info {
  flex-grow: 1;
  /* Занимаем все доступное пространство */
  color: black;
}

h2 {
  margin: 0;
}

.imgCar {
  width: 200px;
  /* Максимальная ширина изображения */
  margin: 5px;
  object-fit: cover;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
  transition: 0.2s;
}

.imgCar:hover {
  transform: scale(1.03);
  transition: 0.2s;
  /* Увеличиваем изображение при наведении */
  filter: brightness(90%);
}

.link {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

.link:hover {
  background-color: #0056b3;
}

.compareIcon {
  position: relative;
  top: 5px;
  cursor: pointer;
  color: rgb(4, 69, 74);
}

.mainPage {
  width: 80%;
  margin: auto;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Добавляем стили для searchInput */
.searchInput {
  margin-top: 30px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: background-color 0.3s;
  box-shadow: inset 1px 0px 8px 1px rgba(34, 60, 80, 0.19);

}

/* Стили для активного (focused) инпута */
.active {
  background-color: #f5f5f5; /* Любой подходящий вам цвет фона */
}

/* Стили для видимой карточки */
.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

