.footer {
    width: 90%;
    background-color: #2a2d78;
    position: sticky;
    bottom: 0;
    left: 5%;
    border-radius: 12px 12px 0 0;
    padding: 10px 10px 0 10px;
}

.info {
    display: flex;
    justify-content:space-between
}

.icon {
    width: 20px;
    margin-right: 5px;
}

.aboutWe {
    width: 60%
}

.company {
    text-align: center;
    font-size: 13px;
}

.company p {
    color: white;
    margin: auto;
    margin-bottom: 5px;
}

.text {
    color: rgb(255, 255, 255) 
}

.h4 {
    color: white;
}

.contacts p a {
    text-decoration: none;
    color: white;
}

.contacts {
    width: 20%;
}