.info {
    display: flex;
    justify-content:space-around
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.icon {
    width: 20px;
    margin-right: 5px;
}

.aboutWe {
    width: 300px;
}

.company {
    text-align: center;
    font-size: 14px;
}

.text {
    color: rgb(2, 2, 2) 
}

.footer {
    margin-top: auto;
}